.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}
h1 {
  font-size: 12px;
  color: blue;
}

li {
  float: right;
  padding: 8px;
  background-color: black;
}

.job-container {
  background-color: white;
  height: 75vh;
  width: 100vw;
  border: 8px solid blue;
  overflow: scroll;
}
